.FAQWrapper {
  background-color: white;
  min-height: 100vh;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px;

  &__title {
    padding: 15px 0;
    margin-bottom: 20px;
    background-color: #ff9a80;
    color: rgb(58, 58, 58);
    font-weight: 400;
    letter-spacing: 1px;
    @media screen and (max-width: 960px) {
      font-size: 1rem;
      padding: 15px;
    }
  }

  &__description {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    font-weight: 200;
    color: rgb(82, 82, 82);
    font-size: 1.2rem;
    letter-spacing: 1px;
    text-align: justify;
    @media screen and (max-width: 960px) {
      font-size: 0.7rem;
      letter-spacing: 0.5;
      font-weight: 700;
    }
  }

  &__faqs {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 15px;
  }

  &__faq {
    margin: 15px;
    padding: 15px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
  &__faqopen {
    margin: 15px;
    padding: 15px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }

  &__question {
    color: rgb(82, 82, 82);
    position: relative;
    font-size: 20px;
    padding-right: 80px;
    background-color: rgb(255, 255, 255);
    transition: all 0.4s;
    @media screen and (max-width: 960px) {
      font-size: 0.7rem;
      letter-spacing: 0.5;
      font-weight: 700;
      padding-right: 0;
    }
    
  }

  &__question::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;

    background-image: url("../../assets/arrow.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  &__answer {
    opacity: 0;
    max-height: 0;
    overflow-y: hidden;
    transition: all 0.4s ease-out;
    @media screen and (max-width: 960px) {
      font-size: 0.7rem;
      letter-spacing: 0.5;
    }
  }

  &__faqopen &__question {
    margin-bottom: 15px;
  }

  &__faqopen &__question::after {
    transform: translateY(-50%) rotate(180deg);
  }
  &__faqopen &__answer {
    max-height: 1000px;
    opacity: 1;
  }
}
