.FAQWrapper{ 
    // background-image: url("../../assets/pexels-miguel-á-padriñán-19670.jpg");
    // background-position: center; /* Center the image */
    // background-repeat: no-repeat; /* Do not repeat the image */
    // background-size: cover; /* Resize the background image to cover the entire container */
    background-color: rgb(248, 247, 248);
    min-height: 100vh;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
    margin-top: 60px;
   
    &__title{
        padding: 15px 0;
        background-color: rgba(60, 105, 96, 0.7);
    }
    &__description{
        margin: 10px auto;
        width: 75vw;
    }
    &__answer{
        margin: 10px auto;
        width: 75vw;
    }
}