.Insta {
  background-color: rgb(255, 255, 255);
  button{
    font-family: 'Playfair Display', serif;
    border: none;
    cursor: pointer;
    text-align: center;
    color: #2d3131;
    font-weight: 100;
    letter-spacing: 1px;
    font-size:2.5rem;
    padding: 7px;
    background-color: rgba(250, 234, 214, 0.6);
    &:hover{
      background-color: rgba(197, 177, 153, 0.6);
    }
    @media screen and (max-width: 1200px) {
      font-size: 1.2rem;
    }
  }
  &__wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
  }

  &__container{

  column-count: 3;
  width: 80vw;
  min-height: 100vh;
  margin: 0 auto;
  @media screen and (max-width: 960px) {
    column-count: 1;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 55px;
  }
  }

  img {
    object-fit: cover;
    width: 400px;
    height: 400px;
    margin: 10px;
    @media screen and (max-width: 1500px) {
      width: 300px;
      height: 300px;
    }
    @media screen and (max-width: 1200px) {
      width: 250px;
      height: 250px;
    }
    @media screen and (max-width: 960px) {
      display: block;
       margin-left: auto;
       margin-right: auto
    }
  
    
  }
}
