.homeWrapper{

    min-height:calc(100vh - 60px);
    margin-top: 60px;
    // background-image: url("../../assets/Karolina_KCwedding-50.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-end;
    box-shadow: 0 6px 20px rgba(43, 50, 63, 0.6);
    -webkit-filter: drop-shadow(0 6px 20px rgba(43, 50, 63, 0.6));
    filter: drop-shadow(0 6px 20px rgba(43, 50, 63, 0.6));
    // &__img{
    //     height: 100vh;
    // }
    &__text{
        padding-left: 20px;
        width: 50%;
        font-size: 2rem;
        display: block;
        padding-bottom: 50px;
        // text-shadow: 2px 2px #ffffff;
    
    }
    &__description{
        padding-left: 20px;
        width: 50%;
        font-size: 1.5rem;
        display: block;
        padding-bottom: 100px;
        // text-shadow: 2px 2px #ffffff;
    }
}
