.contact {
  height: 100vh;
  position: relative;
  background-color: #fafafa;

  &__ImgWrapper {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__image {
    max-width: 50%;
    display: block;
    box-shadow: 0 6px 20px rgba(43, 50, 63, 0.6);
    -webkit-filter: drop-shadow(0 6px 20px rgba(43, 50, 63, 0.6));
    filter: drop-shadow(0 6px 20px rgba(43, 50, 63, 0.6));
  }
  &__inlineStyle {
    top: 50%;
    left: 75%;
    position: absolute;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 25%;
    min-width: 370px;
    min-height: 600px;
    @media screen and (max-width: 960px) {
      left: 50%;
      width: 50%;
    }
  }
  &__title {
    color: rgba(0, 0, 0, 0.966);
    margin-top: 20px;
    font-size: 2.5rem;
  }

  &__description {
    color: rgb(56, 51, 51);
    padding: 20px;
    font-size: 1.1rem;
  }

  &__input {
    border: 2px solid black;
    display: block;
    margin: 20px auto;
    padding: 10px;
    width: 80%;
    border-radius: 5px;
  }

  &__textarea {
    border: 2px solid black;
    display: block;
    margin: 20px auto;
    padding: 10px;
    width: 80%;
    border-radius: 5px;
    resize: none;
  }

  &__subBtn {
    background-color: rgba(250, 234, 214, 0.6);
    margin-right: auto;
    width: 50%;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid black;
    cursor: pointer;
    transition: transform 0.2s;
    color: black;
    font-size: 1.1rem;
    font-weight: 700;
    &:hover {
      transform: scale(1.1);
    }
  }

  &__arrow {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(75%, -100%);
    width: 50%;
    height: auto;
    filter: invert(100%) !important;
    @media screen and (max-width: 1250px) {
      width: 40%;
    }
    @media screen and (max-width: 1100px) {
      transform: translate(65%, -100%);
    }
  }
  &__dropZone {
    font-family: Arial, Helvetica, sans-serif !important;
    width: 60%;
    margin: 0 auto;
    padding: 10px;
    background-color: #fafafa;
    color: #4d4d4d;
    outline: none;
    font-size: 0.8rem;
    cursor: pointer;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 2px solid black;
    p {
      font-family: Arial, Helvetica, sans-serif !important;
    }
    em {
      font-family: Arial, Helvetica, sans-serif !important;
      font-size: 0.6rem;
    }
  }
  &__errors {
    color: white;
  }
}
