.contact {
  height: 100vh;
  position: relative;
  // background-image: url("../../assets/pexels-miguel-á-padriñán-19670.jpg");
  // background-position: center; /* Center the image */
  // background-repeat: no-repeat; /* Do not repeat the image */
  // background-size: cover; /* Resize the background image to cover the entire container */
  background-color: rgb(250, 245, 250);
  // &__img{
  //   height: 100vh;
  // }

  &__ImgWrapper {
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__image {
    max-width: 50%;
    display: block;
    box-shadow: 0 6px 20px rgba(43, 50, 63, 0.6);
    -webkit-filter: drop-shadow(0 6px 20px rgba(43, 50, 63, 0.6));
    filter: drop-shadow(0 6px 20px rgba(43, 50, 63, 0.6));
  }
  &__inlineStyle {
    top: 50%;
    left: 75%;
    position: absolute;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 25%;
    min-width: 370px;
    min-height: 600px;
    @media screen and (max-width: 960px) {
      left: 50%;
      width: 50%;
    }
  }
  &__title {
    color: #FF9A80;
    margin-top: 20px;
    font-size: 2.5rem;
    text-shadow: 1px 1px black;
  }

  &__description {
    color: #FF9A80;
    text-shadow: 1px 1px black;
    padding: 20px;
    font-size: 1.1rem;
  }

  &__input {
    width: 80%;
    display: block;
    margin: 20px auto;
    padding: 10px;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
  }

  &__textarea {
    width: 80%;
    display: block;
    margin: 20px auto;
    padding: 10px;
    background-color: transparent;
    border: none;
    outline: none;
    resize: none;
  }

  &__subBtn {
    background-color: #FF9A80;
    border: none;
    width: 80%;
    padding: 20px;
    cursor: pointer;
    transition: transform 0.2s;
    color: #fff;
    text-shadow: 1px 1px black;
    font-size: 1.1rem;
    font-weight: 700;
    &:hover {
      background-color: #af523b;
    }
  }
  
  &__errors {
    color: white;
  }
  &__iconWrapper{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 35px;
    background-color:rgba(255, 154, 128, 0.5)
  }
  &__icon{
    width: 100%;
    color: #ff7b5b;
    font-size: 2.3rem;
    text-decoration: none;
    padding: 20px;
   &:hover{
     transform: scale(1.2);
   }
  }
}


.fa-envelope {
  display: block;
  padding: 10px;
  @media screen and (max-width: 960px) {
    padding: 0;
  }
}
.fa-phone-alt {
  display: block;
  padding: 10px;
  @media screen and (max-width: 960px) {
    padding: 0;
  }
}
.fa-facebook-f {
  display: block;
  padding: 10px;
  @media screen and (max-width: 960px) {
    padding: 0;
  }
}

//   background-color: #3c6960;