*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // font-family: 'Raleway', sans-serif;
    font-family: 'Poppins', sans-serif;
  }
  html {
    margin:    0 auto;
    max-width: 2800px;
}
  ::-webkit-scrollbar{
    width: 15px;
  }
  ::-webkit-scrollbar{
    border: 7px solid #353535;
    box-shadow: inset 0 0 2.5px 2px rgba(0,0,0,0.5);
  }
  ::-webkit-scrollbar-thumb {
    background: #555555;
    border-radius: 3px;
  }


  .overlay{
    width: 100vw;
    height: 100vh;
    text-align: center;
    font-size: 3rem;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(219, 177, 177);
  }

  .fa-sync-alt {
    display: block;
    padding: 10px;
    color: #c78b8b;
    animation: rotation 2s infinite linear;
  }

  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }