.AboutMeWrapper {
  min-height: 100vh;
  // background-image: url("../../assets/pexels-karolina-grabowska-4041317.jpg");
  // background-position: center; /* Center the image */
  // background-repeat: no-repeat; /* Do not repeat the image */
  // background-size: cover; /* Resize the background image to cover the entire container */
  background-color: rgb(250, 245, 250);
  display: flex;
  flex-direction: column;
  position: relative;
  // box-shadow: 0 6px 20px rgba(43, 50, 63, 0.6);
  // -webkit-filter: drop-shadow(0 6px 20px rgba(43, 50, 63, 0.6));
  // filter: drop-shadow(0 6px 20px rgba(43, 50, 63, 0.6));

  &__title {
    width: 100%;
    font-size: 2.5rem;
    text-align: center;
    padding:15px 0 ;
    background-color: rgba(250, 234, 214, 0.6);
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
  }
  &__top {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__bottom {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__description {
      font-size: 1.2rem;
    text-align: justify;
    margin: 0 40px;
    width: 50%;
    padding: 10px;
  }

  &__picture {
      margin: 20px auto;
    width: 20%;
    display: block;
    box-shadow: 0 6px 20px rgba(43, 50, 63, 0.6);
    -webkit-filter: drop-shadow(0 6px 20px rgba(43, 50, 63, 0.6));
    filter: drop-shadow(0 6px 20px rgba(43, 50, 63, 0.6));
  }
  &__scroll-button {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2.5rem;
    .fa-chevron-circle-down {
      color: rgb(0, 0, 0);
      cursor: pointer;
    }
  }
}
