@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
.AboutMeWrapper {
  min-height: 100vh;
  &__title {
    // font-family: 'EB Garamond', serif;
    font-family: 'Playfair Display', serif;
    color: #2d3131;
    font-size: 2.5rem;
    font-weight: 100;
    letter-spacing: 1px;
    width: 100%;
    text-align: center;
    padding: 15px 0;
    background-color: rgba(250, 234, 214, 0.6);
    @media screen and (max-width: 960px) {
      font-size: 1.5rem;
    }

  }


  &__wrapper {
    display: flex;
    @media screen and (max-width: 960px) {
      flex-direction: column;
    }
  }

  &__description {
    width: 70%;
    min-height: 100%;
    text-align: center;

    
    @media screen and (max-width: 960px) {
      width: 100%;
    }
  }

  &__text1 {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 200;
     padding: 50px 50px;
     color: rgb(82, 82, 82);
  
   
    @media screen and (max-width: 1600px) {
      font-size: 1.5rem;
    }
     @media screen and (max-width: 1400px) {
      font-size: 1.2rem;
      padding: 50px 100px;
    } 
     @media screen and (max-width: 960px) {
      font-size: 1.2rem;
      padding: 40px 50px 10px 50px;
    }
    
  }
  &__text2 {
    color: rgb(82, 82, 82);
    text-align: center;
    font-size: 1.4rem;
    font-weight: 200;
     padding: 10px 50px;
   
   
    @media screen and (max-width: 1600px) {
      font-size: 1.2rem;
    }
     @media screen and (max-width: 1400px) {
      font-size: 1.0rem;
      padding: 10px 100px;
    } 
     @media screen and (max-width: 960px) {
      font-size: 1rem;
      padding: 10px 40px;
      text-align: justify;
    }
   
  }
  &__text3 {
    color: rgb(82, 82, 82);
    font-size: 1.4rem;
    text-align: justify;
    font-weight: 200;
     padding: 50px 50px 0 50px;
    
    @media screen and (max-width: 1600px) {
      font-size: 1.2rem;
    }
    @media screen and (max-width: 1400px) {
      font-size: 1.0rem;
      padding: 50px 100px;
    }
    @media screen and (max-width: 960px) {
      font-size: 1rem;
      padding: 10px 40px;
    }
  }
  &__text4 {
    color: rgb(82, 82, 82);
    font-size: 1.4rem;
    text-align: justify;
    padding: 20px 50px;
    font-weight: 200;
    
    @media screen and (max-width: 1600px) {
      font-size: 1.2rem;
    } 
    @media screen and (max-width: 1400px) {
      font-size: 1.0rem;
      padding: 10px 100px;
    }
    @media screen and (max-width: 960px) {
      font-size: 1rem;
      padding: 10px 40px;
    }
  }
  &__text5 {
    color: rgba(61, 124, 119, 0.8);
    font-size: 1.4rem;
    text-align: center;
    padding: 20px 50px;
    font-weight: 200;
   
    @media screen and (max-width: 1600px) {
      font-size: 1.3rem;
    }
     @media screen and (max-width: 1400px) {
      font-size: 1.2rem;
      padding: 20px 100px;
    } 
    @media screen and (max-width: 960px) {
      font-size: 1rem;
      padding: 10px;
      margin-bottom: 20px;
      margin-top: 20px;
    }
  }
  &__text6 {
    color: rgb(82, 82, 82);
    font-size: 1.4rem;
    text-align: center;
    padding-bottom: 30px;
    font-weight: 300;
    font-weight: 200;
  
    @media screen and (max-width: 1600px) {
      font-size: 1.4rem;
    }
     @media screen and (max-width: 1400px) {
      font-size: 1.1rem;
    }
      @media screen and (max-width: 960px) {
      font-size: 1rem;
    }
  }
  &__more {
    background-color: antiquewhite;
    padding: 10px 50px;
    margin-bottom: 30px;
    margin-top: 30px;
    border: none;
    cursor: pointer;
    text-align: center;
    font-weight: 200;
    color: rgb(82, 82, 82);
    font-size: 1.2rem;
    letter-spacing: 2.5px;
    
    &:hover{
      background-color: rgb(170, 155, 136);
    }
    
    @media screen and (max-width: 1600px) {
      font-size: 1.3rem;
    }
    @media screen and (max-width: 1400px) {
      font-size: 1.1rem;
    }
    @media screen and (max-width: 960px) {
      padding: 10px;
      width: 30%;
    }
  }

  &__imgWrapper {
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 960px) {
      width: 100%;
      height: auto;
    }
   
  }

  &__picture {
    width: 100%;
    height: auto;
    @media screen and (max-width: 960px) {
      width: 50%;
      margin-top: 20px;
    }
  }
}
