.AboutMeWrapper {
  min-height: 100vh;
  &__title {
    width: 100%;
    font-size: 2.5rem;
    text-align: center;
    padding: 15px 0;
    background-color: rgba(250, 234, 214, 0.6);
    font-weight: 400;
    @media screen and (max-width: 960px) {
      font-size: 1.5rem;
    }
    //     @media screen and (max-width: 1600px) {
    //     font-size: 1.2rem;
    // }
  }
  &__description {
    width: 70%;
    min-height: 100%;
    text-align: center;
    
    @media screen and (max-width: 960px) {
      width: 100%;
    }
  }

  &__wrapper {
    display: flex;
    @media screen and (max-width: 960px) {
      flex-direction: column;
    }
  }
  &__text1 {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 200;
    padding: 50px 200px;
  
   
    @media screen and (max-width: 1600px) {
      font-size: 1.5rem;
    }
     @media screen and (max-width: 1400px) {
      font-size: 1.2rem;
      padding: 50px 100px;
    } 
     @media screen and (max-width: 960px) {
      font-size: 1.2rem;
      padding: 40px 50px 10px 50px;
    }
    
  }
  &__text2 {
    text-align: center;
    font-size: 1.4rem;
    font-weight: 200;
    padding: 10px 200px;
   
   
    @media screen and (max-width: 1600px) {
      font-size: 1.2rem;
    }
     @media screen and (max-width: 1400px) {
      font-size: 1.0rem;
      padding: 10px 100px;
    } 
     @media screen and (max-width: 960px) {
      font-size: 1rem;
      padding: 10px 50px;
    }
   
  }
  &__text3 {
    font-size: 1.4rem;
    text-align: justify;
    font-weight: 200;
    padding: 50px 200px 0 200px;
    
    @media screen and (max-width: 1600px) {
      font-size: 1.2rem;
    }
    @media screen and (max-width: 1400px) {
      font-size: 1.0rem;
      padding: 50px 100px;
    }
    @media screen and (max-width: 960px) {
      font-size: 1rem;
      padding: 10px 40px;
      text-align: center;
    }
  }
  &__text4 {
    font-size: 1.4rem;
    text-align: justify;
    padding: 20px 200px;
    font-weight: 200;
    
    @media screen and (max-width: 1600px) {
      font-size: 1.2rem;
    } 
    @media screen and (max-width: 1400px) {
      font-size: 1.0rem;
      padding: 10px 100px;
    }
    @media screen and (max-width: 960px) {
      font-size: 1rem;
      padding: 10px 40px;
      text-align: center;
    }
  }
  &__text5 {
    font-family: "Yeseva One", cursive;
    font-size: 1.4rem;
    text-align: center;
    padding: 20px 200px;
    font-weight: 200;
   
    @media screen and (max-width: 1600px) {
      font-size: 1.3rem;
    }
     @media screen and (max-width: 1400px) {
      font-size: 1.2rem;
      padding: 20px 100px;
    } 
    @media screen and (max-width: 960px) {
      font-size: 1rem;
      padding: 10px;
      margin-bottom: 20px;
      margin-top: 20px;
    }
  }
  &__text6 {
    font-size: 1.4rem;
    text-align: center;
    padding-bottom: 30px;
    font-family: 'Yeseva One', cursive;
    font-weight: 300;
    font-weight: 200;
  
    @media screen and (max-width: 1600px) {
      font-size: 1.4rem;
    }
     @media screen and (max-width: 1400px) {
      font-size: 1.1rem;
    }
      @media screen and (max-width: 960px) {
      font-size: 1rem;
    }
  }
  &__more {
    background-color: antiquewhite;
    padding: 10px 50px;
    margin-bottom: 30px;
    margin-top: 30px;
    border: none;
    cursor: pointer;
    text-align: center;
    font-weight: 200;
    color: rgb(82, 82, 82);
    font-size: 1.2rem;
    letter-spacing: 2.5px;
    
    &:hover{
      background-color: rgb(170, 155, 136);
    }
    
    @media screen and (max-width: 1600px) {
      font-size: 1.3rem;
    }
    @media screen and (max-width: 1400px) {
      font-size: 1.1rem;
    }
    @media screen and (max-width: 960px) {
      padding: 10px;
      width: 30%;
    }
  }

  &__imgWrapper {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 960px) {
      width: 100%;
    }
   
  }

  &__picture {
    width: 80%;
    height: auto;
    box-shadow: 0 6px 20px rgba(43, 50, 63, 0.6);
    -webkit-filter: drop-shadow(0 6px 20px rgba(43, 50, 63, 0.6));
    filter: drop-shadow(0 6px 20px rgba(43, 50, 63, 0.6));
    @media screen and (max-width: 960px) {
      width: 50%;
      margin-top: 20px;
    }
  }
}
